<template>
  <v-app>
    <div>
    <v-app-bar
      align="center"
      color="#251F47"
      dense
      dark
    >  
    <!-- <div class="mx-auto">         -->
      <v-col></v-col>
      <v-col>
      <router-link to="/" exact class="item">
        <v-btn color="white" text class="font-weight-bold">Aktywności</v-btn>
      </router-link>
      </v-col>
      <!-- <router-link to="/measurements" class="item">
        <v-btn color="white" text class="font-weight-bold">Pomiary</v-btn>
      </router-link> -->
      <v-col class="text-right">
      <!-- <v-btn v-if="name" color="white" text class="font-weight-bold mr-2">Użytkownik: {{name}} </v-btn> -->
      <!-- <router-link v-if="!isLoggedIn" :to="{ name: 'Login'}">
        <v-btn color="white" text class="font-weight-bold">Zaloguj się</v-btn>
      </router-link>
      <a v-if="isLoggedIn" to="/logout" class="nav-link" @click.prevent="logoutUser">
        <v-btn color="white" text class="font-weight-bold">Wyloguj</v-btn>
      </a>   -->
      </v-col>
    <!-- </div> -->
    </v-app-bar>
    </div>
    <v-container fluid>
      <Errors v-if="error" :msg="error"/>
      <router-view />
      <!-- <div v-if="activities">
        <NewActivityModal />
        <div>
          <Activities :activities="activities"/>
        </div>
      </div> -->
    </v-container>
  </v-app>
</template>

<script>

//import Activities from './components/Activities.vue'
import { mapGetters, mapActions } from "vuex";
import Errors from "./components/Errors";

export default {
  name: 'app',
  components: { Errors  },
  data(){
    return {
      //activities: []
    }
  },
  computed: {
    ...mapGetters(["error", "isLoggedIn", "user"]),
    name() {
      if(this.$store.getters.user)
        return this.$store.getters.user.username
      return ''
    }
  },
  methods: {
    ...mapActions(["logout"]),
    logoutUser() {
      this.logout();
    }
  },
  mounted(){
  //   getActivities()
  //     .then(data => this.activities = data.activities)
  //     .catch((err =>alert(err)));
  }
};
</script>

<style>
#app > div.navbar {
  margin-bottom: 1.5em;
}
.myFlash {
  width: 250px;
  margin: 10px;
  position: absolute;
  top: 50;
  right: 0;
}
input {
  width: 300px;
}
div.label {
  width: 120px;
}
div.input {
  margin-bottom: 10px;
}
button.ui.button {
  margin-top: 15px;
  display: block;
}
</style>