html {
  position: relative;
  min-height: 100%;
  background-color: aquamarine;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #f5f7fa;
}
.helloInput {
  width: 300px;
}
