<template>
  <div>
    <div>
        <NewActivityModal @createActivity="createActivity"/>
    </div>
    <v-container fluid>
      <v-row dense>
        <ActivityItem v-for="(activity, i) in activities" :key="i" :activity="activity" @deleteActivity="deleteActivity" @updateActivity="updateActivity" />
      </v-row>
    </v-container>
    <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
    >
      {{ "Aktywność usunięta" }}
    </v-snackbar>
  </div>
</template>

<script>
import ActivityItem from './Activity'
import NewActivityModal from './NewActivityModal.vue'
import { getActivities }  from '../repository'
import { mapGetters, mapActions } from "vuex";

export default {
  name: 'activities',
  components: { ActivityItem, NewActivityModal },
  data() {
    return {
      activities: [],
      foo: '',
      snackbar: false,
      timeout: 1000,
    };
  },
  computed: {
    ...mapGetters(["isLoggedIn", "user"])
  },
  methods: {
    ...mapActions(["getProfile"]),
    deleteActivity(id){
      const newactivities = this.activities.filter(activity => activity._id !== id)
      this.activities = newactivities
      this.snackbar = true
    },
    createActivity(activity){
        this.activities = [activity, ...this.activities];
    },
    updateActivity(activity){
      this.deleteActivity(activity._id);
      this.createActivity(activity);
    },
  },
  mounted() {
  },
  async created() {
      await this.getProfile();
      getActivities() //this.user._id
      .then(data => this.activities = data.activitiesList.sort((a,b) => (new Date(b.date) - new Date(a.date))) )
      .catch((err =>alert(err)));
  },
};

</script>