<template>
<v-col  sm="12" lg="6" xs="12">
    <v-card class="mx-auto card-item" tile>
        
        <v-card-text class="py-0 px-3">            
            <v-row style="height: 140px" :class="box">
                <v-col class="name" :class="boxColor" cols="4">
                    <v-row>
                        <v-col><div id="activityName" class="text-subtitle-1 font-weight-bold">{{activity.name ? activity.name : activity.type}}</div></v-col>
                    </v-row>
                    <v-row>
                        <v-col><div class="text-subtitle-2 font-weight-medium">{{formatDate(activity.date)}}</div></v-col>
                    </v-row>
                    
                </v-col>
                <v-col class="px-0 details">
                    <v-alert
                        tile
                        class="my-0 text-body-2"
                        height="100%"
                    >
                    <v-row class="mx-0">
                        <EditActivityModal :activity="activity" />
                        <v-btn text color="primary" small tile @click="deleteActivity(activity._id, activity._rev)" class="font-weight-bold">Usuń</v-btn>                       
                    </v-row>
                    <v-divider></v-divider>
                    <v-row class="mx-0 mt-2">
                        <v-col cols="6" class="py-1" v-if="(activity.properties || {}).duration">
                            Czas trwania: <b>{{(activity.properties || {}).duration}} min</b>
                        </v-col>
                        <v-col cols="6" class="py-1" v-if="(activity.properties || {}).calories">
                            Liczba kalorii: <b>{{(activity.properties || {}).calories}} kcal</b>
                        </v-col>                        
                    <!-- </v-row>
                    <v-row class="mx-0"> -->
                        <v-col cols="6" class="py-1" v-if="(activity.properties || {}).distance">
                            Dystans: <b>{{(activity.properties || {}).distance}} km</b>
                        </v-col>
                        <v-col cols="6" class="py-1" v-if="(activity.properties || {}).avgSpeed">
                            Średnia prędkość: <b>{{(activity.properties || {}).avgSpeed}} km/h</b>
                        </v-col>
                    </v-row>
                    <v-row v-if="activity.note" class="mx-0">
                        <v-col cols="6" class="py-1">Notatka: {{activity.note}}</v-col>
                    </v-row>
                    </v-alert>
                </v-col>
            </v-row>
        </v-card-text>    
    </v-card>
</v-col>
</template>

<script>
import EditActivityModal from './EditActivityModal'
import { deleteActivity } from '../repository'

export default {
  name: 'ActivityItem',  
  components: { EditActivityModal },
  props: [ 'activity' ],
  computed: {
      boxColor: function(){ 
        var color;
        switch(this.activity.type) {
            case 'Bieganie': 
                color = 'run'; break;
            case 'Pływanie': 
                color = 'swim'; break;
            case 'Jazda na rowerze': 
                color = 'bike'; break;
            case 'Jazda na rolkach': 
                color = 'roll'; break;
            case 'Sporty zimowe': 
                color = 'winter'; break;
            case 'W pomieszczeniu': 
                color = 'indoor'; break;
            default: 
                color = 'else';
        }
        return color;
    },
  },
  methods: {
    deleteActivity(id, rev){
        const a = { "id" : id, "rev" : rev }
        const sure = window.confirm('Czy na pewno chcesz usunąć aktywność?');
        if (!sure) return;        
      
        deleteActivity(a)
          .then(() => this.$emit('deleteActivity', id))
          .catch(err => alert(err))
    },
    formatDate (date) {
      if (!date) return null

      const [year, month, day] = new Date(date).toISOString().substr(0, 10).split('-')
      return `${day}-${month}-${year}`
    },
  }
}

</script>

<style scoped>
.name {
    color: white;
}
.run {
    background-color: #5b408c;
}
.swim {
    background-color: #2c789a;
}
.bike {
    background-color: #009688;
}
.roll {
    background-color: #0a5ea0;
}
.winter {
    background-color: #50697d;
}
.indoor {
    background-color: #672d71;
}
.else {
    background-color: #251F47;
}
.details {
    padding: 1px 0;
}
.card-item {
    border: solid 1px #251F47 !important;
    min-width: 400px;
}
</style>