<template>
  <div>
  <div class="modal" :class="{ 'is-active': isEditActive }">
      <div class="modal-background"></div>
      <v-card width="600" class="mx-auto my-5" tile>
        <div class="primary"><v-card-title class="mx-auto py-3"><div class="mx-auto text-uppercase font-weight-bold white--text">
            Edycja aktywności
        </div></v-card-title></div>
        <v-divider></v-divider>
        <v-card-text>
          <p v-if="errorsPresent" class="error">Wypełnij wymagane pola</p>
          <v-row>
            <v-col>
                <v-menu
                    ref="menu1"
                    v-model="menu1"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    max-width="290px"
                    min-width="290px"
                >
                    <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                        v-model="formattedDate"
                        label="Data"
                        persistent-hint
                        readonly
                        v-bind="attrs"
                        v-on="on"
                    ></v-text-field>
                    </template>
                    <v-date-picker
                    v-model="date"
                    no-title
                    @input="menu1 = false"
                    :first-day-of-week="1"
                    locale="pl"
                    ></v-date-picker>
                </v-menu>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
                <v-select
                    v-model="activity.type"
                    :items="types"
                    label="Typ"
                ></v-select>
                <v-text-field 
                    v-if="activity.type == 'W pomieszczeniu' || activity.type == 'Sporty zimowe' || activity.type == 'Inne'"
                    v-model="activity.name"
                    label="Nazwa"
                ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
                <v-text-field 
                    type="number"
                    v-model="(activity.properties || {}).duration"
                    label="Czas"
                    suffix="min"
                ></v-text-field> 
            </v-col>
            <v-col>
                <v-text-field 
                    type="number"
                    v-model="(activity.properties || {}).calories"
                    label="Liczba spalonych kalorii"
                    suffix="kcal"
                ></v-text-field>
            </v-col>
          </v-row>
          <v-row v-if="activity.type != 'W pomieszczeniu'">
            <v-col>
                <v-text-field 
                    type="number"
                    v-model="(activity.properties || {}).distance"
                    label="Dystans"
                    suffix="km"
                ></v-text-field>
            </v-col>
            <!-- <v-col cols="2">
                <v-select
                    v-model="distance.unit"
                    :items="units"
                ></v-select>
            </v-col> -->
            <v-col>
                <v-text-field 
                    type="number"
                    v-model="(activity.properties || {}).avgSpeed"
                    label="Średnia prędkość"
                    suffix="km/h"
                ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
                <v-textarea
                    v-model="activity.note"
                    label="Opis"
                    rows="2"
                ></v-textarea>
            </v-col>
          </v-row>
          <v-row>
            <v-col></v-col>
            <v-col cols="auto">
              <v-btn color="primary" tile @click="update" class="mx-2">Zapisz</v-btn>
              <v-btn color="primary" tile @click="toggle" class="mx-2">Anuluj</v-btn>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </div>
    <v-btn color="primary" text small tile @click="toggle" class="font-weight-bold">Edytuj</v-btn>
    </div>
</template>

<script>
import { updateActivity }  from '../repository'
export default {
  name: 'EditActivityModal',
  data(){
    return {
      errorsPresent: false,
      isEditActive: false,
      types: [
        'Bieganie',
        'Jazda na rowerze',
        'Jazda na rolkach',
        'Pływanie',
        'Sporty zimowe',
        'W pomieszczeniu',
        'Inne'
      ],
      date: new Date().toISOString().substr(0, 10),
      menu1: false,
    }
  },
  props: ['activity'],
  computed: {
      formattedDate () {
        return this.formatDate(this.date)
      },
    // activity () {
    //   if (this.activityData.date) return this.activityData
    //   else {
    //     var ad = this.activityData
    //     var tzoffset = (new Date()).getTimezoneOffset() * 60000; //offset in milliseconds
    //     var localISOTime = (new Date(Date.now() - tzoffset)).toISOString().slice(0, -1);
    //     ad.date = this.formatDate(localISOTime.substr(0, 10))        
    //     return ad
    //   }      
    // },
  },
  watch: {
    // date () {
    //   this.activity.date = this.formatDate(this.date)
    // },
  },
  methods: {
    update(){
      var editedActivity = this.activity;
      if (this.activity.type === '' ) { //|| (this.activity.type !== '' && this.activity.name === '')
        this.errorsPresent = true;
      } else {
      updateActivity(editedActivity)
        .then(data => {
          this.$emit('updateActivity', data.activity);
          this.toggle();
        })
        .catch(err => alert(err.message));
      }
    },
    toggle(){
      this.isEditActive = !this.isEditActive;
    },
    formatDate (date) {
      if (!date) return null

      const [year, month, day] = date.split('-')
      return `${day}-${month}-${year}`
    },
    parseDate (date) {
      if (!date) return null

      const [day, month, year] = date.split('-')
      return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
    },
  },
  created: function(){
       //this.date = this.parseDate(this.activity.date)
       this.date = this.activity.date ? new Date(this.activity.date).toISOString().substr(0, 10) : new Date().toISOString().substr(0, 10)
       //console.log('edit', this.activity)
  }
}
</script>