<template>
  <v-card max-width="500" class="mx-auto my-5" tile>
    <div class="primary"><v-card-title class="mx-auto py-3"><div class="mx-auto text-uppercase font-weight-bold white--text">
        Logowanie
    </div></v-card-title></div>
    <v-divider></v-divider>
    <v-card-text>
      <p v-if="errorsPresent" class="error">Wypełnij wymagane pola</p>
      <v-form @submit.prevent="loginUser">
        <v-container fluid>
          
            <v-text-field
              v-model="username"
              label="Nazwa użytkownika"
              name="username"
              class="mb-8"
              hide-details
              tile
            ></v-text-field>
         
            <v-text-field
              v-model="password"
              label="Hasło"
              name="password"
              type="password"
              class="mb-10"
              hide-details
              tile
            ></v-text-field>

            <div class="mx-auto mt-10" align="center"><v-btn color="#251F47" dark type="submit" id="saveBtn" tile>Zapisz</v-btn></div>
            <!-- <div class="mt-3" align="center"><router-link to="/register" class="card-link" color="#251F47">
                <v-btn color="#251F47" dark text class="text-none" id="registerBtn">Zarejestruj się</v-btn>
            </router-link></div> -->

        </v-container>
      </v-form>     
    </v-card-text>
  </v-card>
</template>

<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      errorsPresent: false,
      username: "",
      password: ""
    };
  },
  methods: {
    ...mapActions(["login"]),
    loginUser() {
      let user = {
        'username': this.username,
        'password': this.password
      };
      if (this.username == '' || this.password == '') { 
        this.errorsPresent = true;
      } else {
      this.login(user)
        .then(res => {
          if (res.data.success) {
            //this.$store.state.user = res.data.user.docs[0];
            //this.$store.state.name = res.data.user.username;
            this.$router.push("/");
          }
        })
        .catch(err => {
          console.log(err);
        });
      }
    }
  }
};
</script>

<style>
.card {
  width: 60%;
  border-radius: 0;
}
.btn {
  border-radius: 0;
}
.form-control {
  border-radius: 0;
}
</style>