<template>
  <div>
    <div class="modal" :class="{ 'is-active': isActive }">
      <div class="modal-background"></div>
      <v-card width="600" class="mx-auto my-5" tile>
        <div class="primary"><v-card-title class="mx-auto py-3"><div class="mx-auto text-uppercase font-weight-bold white--text">
            Nowa aktywność
        </div></v-card-title></div>
        <v-divider></v-divider>
        <v-card-text>          
          <p v-if="errorsPresent" class="error">Wypełnij wymagane pola</p>
          <v-row>
            <v-col>
                <v-menu
                    ref="menu1"
                    v-model="menu1"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    max-width="290px"
                    min-width="290px"
                >
                    <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                        v-model="formattedDate"
                        label="Data"
                        persistent-hint
                        readonly
                        v-bind="attrs"
                        v-on="on"
                        hide-details
                    ></v-text-field>
                    </template>
                    <v-date-picker
                    v-model="date"
                    no-title
                    @input="menu1 = false"
                    :first-day-of-week="1"
                    locale="pl"
                    ></v-date-picker>
                </v-menu>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
                <v-select
                    v-model="activity.type"
                    :items="types"
                    label="Typ"
                ></v-select>
                <v-text-field 
                    v-if="checkName(activity.type)"
                    v-model="activity.name"
                    label="Nazwa"
                    hide-details
                ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6">
                <v-text-field 
                    type="number"
                    v-model="activity.properties.duration"
                    label="Czas"
                    suffix="min"
                    hide-details
                ></v-text-field> 
            </v-col>
            <v-col>
                <v-text-field 
                    type="number"
                    v-model="activity.properties.calories"
                    label="Liczba spalonych kalorii"
                    suffix="kcal"
                    hide-details
                ></v-text-field>
            </v-col>
          </v-row>
          <v-row v-if="activity.type != 'W pomieszczeniu'">
            <v-col>
                <v-text-field 
                    type="number"
                    v-model="activity.properties.distance"
                    label="Dystans"
                    suffix="km"
                    hide-details
                ></v-text-field>
            </v-col>
            <v-col>
                <v-text-field 
                    type="number"
                    v-model="activity.properties.avgSpeed"
                    label="Średnia prędkość"
                    suffix="km/h"
                    hide-details
                ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
                <v-textarea
                    v-model="activity.note"
                    label="Opis"
                    rows="2"
                ></v-textarea>
            </v-col>
          </v-row>
          <v-row>
            <v-col></v-col>
            <v-col cols="auto">
              <v-btn color="primary" tile @click="create" class="mx-2">Zapisz</v-btn>
              <v-btn color="primary" tile @click="toggle" class="mx-2">Anuluj</v-btn>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </div>
    <v-btn color="primary" dark tile @click="toggle" class="mx-3">Dodaj</v-btn>
    <br>
  </div>
</template>

<script>
import { createActivity }  from '../repository'

export default {
  name: 'activity-form',
  props: {
    isNode: { type: Boolean, default: false },
    parent: { type: Object, default: () => {} }
  },
  data() {
    return {
      isActive: false,
      errorsPresent: false,
      activity: {
        type: 'Bieganie',
        name: '',
        date: '',
        properties: {
            duration: null,
            calories: null,
            distance: null,
            avgSpeed: null,
        },
        note: ''
      },
      types: [
        'Bieganie',
        'Jazda na rowerze',
        'Jazda na rolkach',
        'Pływanie',
        'Sporty zimowe',
        'W pomieszczeniu',
        'Inne'
      ],
      date: new Date().toISOString().substr(0, 10),
      menu1: false,
    };
  },
  computed: {
    formattedDate () {
      return this.formatDate(this.date)
    },
  },
  watch: {
  },
  methods: {
    create(){
      if (this.activity.type === '' || (this.activity.type == 'Inne' && this.activity.name === '')) { 
        this.errorsPresent = true;
      } else {
      this.activity.date = new Date(this.date).toISOString()
      
      var properties = this.activity.type == 'W pomieszczeniu' ? 
          {
            duration: this.activity.properties.duration, 
            calories: this.activity.properties.calories
          } : {
            duration: this.activity.properties.duration, 
            calories: this.activity.properties.calories, 
            distance: this.activity.properties.distance, 
            avgSpeed: this.activity.properties.avgSpeed
          }
      const activity = {
          "type": this.activity.type,
          "name": this.activity.name,
          "date": this.activity.date,
          "properties": properties,
          "note": this.activity.note
      }
      createActivity(activity)
        .then(data => {
          this.$emit('createActivity', data);
          this.activity = {
            type: 'Bieganie',
            name: '',
            date: '',
            properties: {
              duration: null,
              calories: null,
              distance: null,
              avgSpeed: null,
            },
            note: ''
          };
          this.toggle();
        })
        .catch(err => alert(err.message));
      }
    },
    toggle(){
      this.isActive = !this.isActive;
    },
    formatDate (date) {
      if (!date) return null

      const [year, month, day] = date.split('-')
      return `${day}-${month}-${year}`
    },
    parseDate (date) {
      if (!date) return null

      const [day, month, year] = date.split('-')
      return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
    },
    formatLongDate (date) {
      if (!date) return null

      const [year, month, day] = new Date(date).toISOString().substr(0, 10).split('-')
      return `${day}-${month}-${year}`
    },
    checkName(type) {
      return type == 'W pomieszczeniu' || type == 'Sporty zimowe' || type == 'Inne'
    }
  },
};
</script>

<style scoped>
.error {
  color: red;
}
</style>