<template>
  <v-card max-width="500" class="mx-auto my-5" tile>
    <div class="primary"><v-card-title class="mx-auto py-3"><div class="mx-auto text-uppercase font-weight-bold white--text">
      Rejestracja
    </div></v-card-title></div>
    <v-divider></v-divider>
    <v-card-text>
      <v-form @submit.prevent="registerUser">
        <v-container fluid>
          
            <v-text-field
              v-model="username"
              label="Nazwa użytkownika"
              name="username"
              class="mb-8"
              hide-details
            ></v-text-field>

            <!-- <v-text-field
              v-model="name"
              label="Imię"
              name="name"
            ></v-text-field>
         
            <v-text-field
              v-model="email"
              label="E-mail"
              name="email"
            ></v-text-field> -->
         
            <v-text-field
              v-model="password"
              label="Hasło"
              name="password"
              type="password"
              class="mb-8"
              hide-details
              tile
            ></v-text-field>
         
            <v-text-field
              v-model="confirm_password"
              label="Potwierdź hasło"
              name="confirm_password"
              type="password"
              class="mb-10"
              hide-details
              tile
            ></v-text-field>

            <div class="mx-auto mt-10" align="center"><v-btn color="#251F47" dark type="submit" tile>Zapisz</v-btn></div>
            <div class="mt-3" align="center"><router-link to="/login" class="card-link">
              <v-btn color="#251F47" dark text class="text-none">Zaloguj się</v-btn>
            </router-link></div>
        </v-container>
      </v-form>     
    </v-card-text>
  </v-card>
</template>

<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      username: "",
      password: "",
      confirm_password: "",
      name: "",
      email: ""
    };
  },
  methods: {
    ...mapActions(["register"]),
    registerUser() {
      let user = {
        username: this.username,
        password: this.password,
        confirm_password: this.confirm_password
      };
      this.register(user).then(res => {
        if (res.data.success) {
          this.$router.push("login");
        }
      });
    }
  }
};
</script>

<style>
.v-divider {
  margin: 0;
}
.card {
  width: 60%;
  border-radius: 0;
}
.btn {
  border-radius: 0;
}
.form-control {
  border-radius: 0;
}
</style>